<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="bower_components/web3/dist/web3.min.js"></script>
        <style>
            div.container {
                width: 100%;
                border: 1px solid gray;
            }

            header, footer {
                padding: 1em;
                color: white;
                background-color: #337ab7;
                clear: left;
                text-align: center;
            }

            nav {
                float: left;
                max-width: 160px;
                margin: 0;
                padding: 1em;
            }

            nav ul {
                list-style-type: none;
                padding: 0;
            }
            nav ul a {
                text-decoration: none;
            }
            .link-color{
                color: white;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <header>
                <h2>IdentityALL</h2>
                <h4>Blockchain Technology</h4>
            </header>
            <div  class="container">
                <form>
                    <div class="form-group col-md-4 form-line">
                        <h3>Fill Your Identity card details</h3>
                        <lable for="name">Name</lable>
                        <input class="form-control" type="text" id="name" name="name"/><br/>
                        <lable for="mobile">Mobile</lable>
                        <input class="form-control" type="text" id="mobile" name="mobile"/><br/>
                        <lable for="email">Email</lable>
                        <input class="form-control" type="text" id="email" name="email"/><br/>
                        <lable for="age">Age</lable>
                        <input class="form-control" type="text" id="age" name="age"/><br/>
                        <lable for="gender">Gender</lable>
                        <input class="form-control" type="text" id="gender" name="gender"/><br/>
                        <button type="button" class="btn btn-default btn-primary" style="float: right" onclick="enterUser();">
                            Submit
                        </submit>
                    </div>
                </form>
                <form>
                    <h3>Search Key</h3>
                    <div class="form-group col-md-8 form-line">
                        <lable for="hash">Hash Key</lable>
                        <input class="form-control" type="text" id="hash" name="hash"/><br/>
                        <button type="button" class="btn btn-default btn-primary" style="float: right" onclick="searchKey();">Search</submit>
                    </div>
                </form>
                <div id="details">

                </div>
            </div>
            <div  class="container">
                <form>
                    <div class="form-group col-md-4 form-line">
                        <h3>Fill Your Identity card details</h3>
                        <div class="checkbox">
                            <lable for="age">Name</lable>
                            <label><input type="checkbox" id="name" value="Balakrishnan">Balakrishnan</label>
                        </div>
                        
                        <div class="checkbox">
                            <lable for="age">Mobile</lable>
                            <label><input type="checkbox" id="mobile" value="88884156349">88884156349</label>
                        </div>

                        <div class="checkbox">
                            <lable for="age">Email</lable>
                            <label><input type="checkbox" id="mobile" value="bala@gmail.com">bala@gmail.com</label>
                        </div>

                        <div class="checkbox">
                            <lable for="age">Age</lable>
                            <label><input type="checkbox" id="age" value="27">27</label>
                        </div>
                        
                        <div class="checkbox">
                            <lable for="age">Gender</lable>
                            <label><input type="checkbox" id="gender" value="Male">Male</label>
                        </div>
                        <button type="button" class="btn btn-default btn-primary" style="float: right" onclick="enterUser();">
                            Submit
                        </submit>
                    </div>
                </form>
            </div>
            <footer>Copyright &copy; <a class="link-color" href="http://www.mobisir.net">Mobisir</a></footer>
        </div>
        <script type="text/javascript">
            
            var web3 = new Web3(new Web3.providers.HttpProvider("http://13.127.33.43"));
            var coinbase = web3.eth.coinbase;
            var balance = web3.eth.getBalance(coinbase);
            var abi = JSON.parse('[{\"constant\":false,\"inputs\":[],\"name\":\"get_s\",\"outputs\":[{\"name\":\"\",\"type\":\"string\"}],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"new_s\",\"type\":\"string\"}],\"name\":\"set_s\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"}]');
            var cont = web3.eth.contract(abi).at("0x118C40432BdE99a1D066dF4C0D57A1637Ea4824a");
            sign();
            function enterUser(){
                var name = document.getElementById('name').value;
                var mobile = document.getElementById('mobile').value;
                var email = document.getElementById('email').value;
                var age = document.getElementById('age').value;
                var gender = document.getElementById('gender').value;
                var dict = []; // create an empty array
                dict.push({
                    name:name,
                    mobile: mobile,
                    email:email,
                    age:age,
                    gender:gender
                });
                var dt = JSON.stringify(dict);
                cont.set_s.sendTransaction(dt, {from:coinbase, gas:250000}, function(err, transactionHash){
                    if(!err){ 
                        generatedQRcode(transactionHash);
                        alert(transactionHash); 
                    }
                    else{ alert(err); }
                });
            }
            function searchKey(){
                var content = "";
                var hash = document.getElementById('hash').value;
                data = web3.eth.getTransaction(hash);
                content = content + data['input'];
                document.getElementById("details").innerHTML = web3.toAscii(content);
            }
            
            function sign(){
                web3.personal.unlockAccount(coinbase, 'techsumit', 60);
            }

        </script>
    </body>

</html>